.card{
  border: coral solid 3px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-around;
  margin: 0 20px;
}
img{
  margin-top: 10px;
}
